.icon-left{
     position:absolute;
     left:100px;
     top:100px;
}
.icon-right{
     position:absolute;
     bottom:100px;
     right:100px;
}
.season-display.Winter i{
     color: blue;
}
.season-display.Summer i{
     color: red;
}
.season-display{
     display: flex;
     justify-content: center;
     align-items:center;
     height:100vh;
}
.Winter{
     background-color: aliceblue;
}
.Summer{
     background-color: orange;
}